.modal-body img{
    width: 141px;
    height: 141px;
    object-fit: cover;
}

.expand_more {
    display: none;
}

.collapsed .expand_less {
    display: none;
}

.expand_less {
    display: inline-block;
}
.collapsed .expand_more {
    display: inline-block;
}

