<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <div class="wrap d-flex">
    <div class="sidebar position-relative bg-light d-flex flex-column">
      <h1 class="logo">
        <a href="#">logo</a>
      </h1>
      <div class="sidebar-content d-flex flex-column justify-content-between ">
        <ul class="sidebars-list ">
          <li class="sidebars-item ">
            <a class="d-flex align-items-center  py-3 fw-bold" href="#">
              <span class="material-icons me-3 fs-4 fw-bold">
                insert_chart
              </span>Dashboard</a>
          </li>
          <li class="sidebars-item">
            <a class="d-flex align-items-center   py-3 fw-bold" href="#">
              <span class="material-icons me-3 fs-4 fw-bold">
                question_answer
              </span>Question</a>
          </li>
          <li class="sidebars-item active">
            <a class="d-flex align-items-center   py-3 fw-bold" href="index.html">
              <span class="material-icons me-3 fs-4 fw-bold">
                assignment
              </span>Assignment</a>
          </li>
          <li class="sidebars-item">
            <a class="d-flex align-items-center  py-3 fw-bold" href="#">
              <span class="material-icons me-3 fs-4 fw-bold">
                video_library
              </span></i>Course</a>
          </li>
          <li class="sidebars-item">
            <a class="d-flex align-items-center  py-3 fw-bold" href="admin.html">
              <span class="material-icons me-3 fs-4 fw-bold">
                people
              </span>Admin</a>
          </li>
          <li class="sidebars-item">
            <a class="d-flex align-items-center  py-3 fw-bold" href="#">
              <span class="material-icons me-3 fs-4 fw-bold">
                settings
              </span>Settings</a>
          </li>
        </ul>
      </div>
      <div class="account position-absolute fixed-bottom d-flex align-items-center ms-5 mb-5">
        <div class="d-flex align-items-center">
          <div class="flex-shrink-0">
            <img class="account-image" src="./assets/images/andychen.jpeg" alt="...">
          </div>
          <div class="flex-grow-1 ms-3 ">
            Andy Chen<br> andy0401@mail.com
          </div>

        </div>
      </div>

    </div>



    <%- contents %>

  </div>


  <script src="https://cdn.ckeditor.com/ckeditor5/29.0.0/classic/ckeditor.js"></script>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>