<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <div class="wrap d-flex">
    <div class="sidebar bg-light d-flex flex-column">
      <h1 class="logo">
        <a href="#">logo</a>
      </h1>
      <div class="sidebar-content d-flex flex-column justify-content-between">
        <ul class="sidebars-list px-5">
          <li class="sidebars-item">
            <a class="d-flex align-items-center  py-3 fw-bold" href="#">
              <span class="material-icons me-3 fs-4 fw-bold">
                insert_chart
              </span>Dashboard</a>
          </li>
          <li class="sidebars-item">
            <a class="d-flex align-items-center   py-3 fw-bold" href="#">
              <span class="material-icons me-3 fs-4 fw-bold">
                question_answer
              </span>Question</a>
          </li>
          <li class="sidebars-item">
            <a class="d-flex align-items-center   py-3 fw-bold" href="#">
              <span class="material-icons me-3 fs-4 fw-bold">
                assignment
              </span>Assignment</a>
          </li>
          <li class="sidebars-item">
            <a class="d-flex align-items-center  py-3 fw-bold" href="#">
              <span class="material-icons me-3 fs-4 fw-bold">
                video_library
              </span></i>Course</a>
          </li>
          <li class="sidebars-item">
            <a class="d-flex align-items-center  py-3 fw-bold" href="#">
              <span class="material-icons me-3 fs-4 fw-bold">
                people
              </span>Admin</a>
          </li>
          <li class="sidebars-item">
            <a class="d-flex align-items-center  py-3 fw-bold" href="#">
              <span class="material-icons me-3 fs-4 fw-bold">
                settings
              </span>Settings</a>
          </li>
        </ul>
        <div class="sidibar-user">

        </div>
      </div>

    </div>

    <div class="content ">
      <div class="content-navbar d-flex  justify-content-between align-items-center">
        <ul class="content-navbar-list d-flex align-items-center flex-wrap ">
          <li class="content-navbar-item me-7">
            <a class="fs-4 " aria-current="page" href="#">Assignment</a>
          </li>
          <li class="content-navbar-item dropdown ">
            <a class="fs-6 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              All Courses
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>

              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>

        </ul>
        <ul class="content-navbar-search d-flex justify-content-between ">
          <li class="content-navbar-search-item me-4 ">
            <a class="d-flex align-items-center " href="#">
              <span class="material-icons ">
                search
              </span>
            </a>
          </li>
          <li class="content-navbar-search-item">
            <a class="d-flex align-items-center  " href="#">
              <span class="material-icons">
                notifications_active
              </span></a>
          </li>
        </ul>


      </div>
    </div>

    <div class="main">

    </div>
  </div>



  <%- contents %>


  </div>

  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>