.wrap {
    max-width: 1280px;
    margin: 0 auto;
  }

.logo {
    padding: 32px;
    a {
      width: 151px;
      height: 40px;
      overflow: hidden;
      text-indent: 101%;
      white-space: nowrap;
      background-image: url(../../assets/images/logo-ANSWER.svg);
    }
  }

.sidebar{
    width: 296px;
    height: 100vh;
}

.sidebars-item{
  position: relative;
}


.sidebars-item.active::hover{
  content: "";
  position: absolute;
  left: -32px;
  width: 4px;
  height: 32px;
  border-left: 4px solid #198754;
}
