.wrap {
    max-width: 1280px;
    margin: 0 auto;
  }

.logo {
    padding: 32px;
    a {
      width: 151px;
      height: 40px;
      overflow: hidden;
      text-indent: 101%;
      white-space: nowrap;
      background-image: url(../../assets/images/logo-ANSWER.svg);
    }
  }

.sidebar{
    width: 296px;
    height: 100vh;
}



.sidebars-item{
  position: relative;
 
        a{
            color: #212529;

            // &:before{
            //     left:-32px;
            //     border-left: 4px solid #198754;
            //     color: #198754;
            // }
            &:hover{
              left:0;
              border-left: 4px solid #198754;
              color: #198754;
          }

 
  }
}


